 .tier-viewport-background {
  background-color: white;
  background-image: -webkit-linear-gradient(black 2px, transparent 2px),
    -webkit-linear-gradient(0, black 2px, transparent 2px),
    -webkit-linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
    -webkit-linear-gradient(0, rgba(0,0,0,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-15px -15px, -15px -15px, -14px -14px, -14px -14px;
  transition: height 0.2s ease-in-out;
}

.track-label {
  font-size: 10pt;
  position: absolute;
  z-index: 999;
  background: rgba(220, 220, 220, 0.8);
  padding: 3px;
  cursor: default;
  border-radius: 4px;
}

.tier-tab {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tier-tab.active {
  background-image: -moz-linear-gradient(top, #ffaaaa, #e6aaaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaaaa), to(#e6aaaa));
  background-image: -webkit-linear-gradient(top, #ffaaaa, #e6aaaa);
  background-image: -o-linear-gradient(top, #ffaaaa, #e6aaaa);
  background-image: linear-gradient(to bottom, #ffaaaa, #e6aaaa);
}

.loc-status {
    font-size: 8pt;
    color: red
}