*.dalliance span {
  text-align: left;
  width: auto;
}

*.dalliance form {
  padding: 0px;
}

*.dalliance .nav-tabs > li {
  float: left;
  list-style: none;
  margin: 0px;
}

*.dalliance * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dalliance-root {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  max-height: 500px;
  width: 100%;
  outline: none;
}

*.dalliance .tier-viewport-background {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#000 2px, transparent 2px), -webkit-linear-gradient(0, #000 2px, transparent 2px), -webkit-linear-gradient(rgba(0, 0, 0, .3) 1px, transparent 1px), -webkit-linear-gradient(0, rgba(0, 0, 0, .3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -15px -15px, -15px -15px, -14px -14px, -14px -14px;
}

*.dalliance .track-label {
  font-size: 10pt;
  position: absolute;
  z-index: 1001;
  left: 2px;
  top: 2px;
  display: inline-block;
  opacity: 0.8;
}

*.dalliance .track-label-info {
  display: none;
  max-width: 200px
  white-space: normal;
  color: rgb(100, 100, 100);
}

*.dalliance .track-name-holder {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

*.dalliance .tier-tab {
  display: inline-block;
  *display: inline;
  padding: 0px 2px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
*.dalliance .tier-tab.active {
  border: 3px solid rgb(180, 180, 180);
}

/* NB scoper currently doesn't get this right... */

*:focus.dalliance .tier-tab.active {
  border: 3px solid rgb(150, 150, 230);
}

*.dalliance .tier {
  position: relative;
  height: 30px;
  display: block;
  text-align: center;
  overflow: hidden;
}

*.dalliance .loc-field {
  width: 240px;
  margin-bottom: 0px;
}
*.dalliance .loc-status {
  font-size: 8pt;
  color: #f00;
}

/* Rules relating to the flexbox tool panel are currently done manually */

*.dalliance .main-holder {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  font-size: 10pt;
  outline: none;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none
}

*.dalliance .tier-holder {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin: 0px;
  position: relative;
  outline: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: #eee;
  background-size: 25px 25px;
  background-image: -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                    -webkit-linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-image: -moz-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                    -moz-linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
                    linear-gradient(135deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
}

*.dalliance .tier-holder-pinned {
  flex: none;
  -webkit-flex: none;
  display: none;
}

*.dalliance .tier-holder-pinned-full {
  display: block;
  overflow-y: hidden;
  border-bottom: 3px solid gray;
}

*.dalliance .tier-holder-rest {
  flex: 1 1;
  -webkit-flex: 1 1;
}

*.dalliance .tier-holder-holder {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

*.dalliance .tool-divider {
  background-color: gray;
  width: 8px;
  min-height: 100px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 8px;
  flex: 0 0 8px;

}

*.dalliance .tool-holder {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;      /* Should be done by flex mechanism? */
  min-height: 500px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 500px;
  flex: 0 0 500px;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  align-items: stretch;
}

*.dalliance .guideline {
  width: 1px;
  height: 100%;
  background-color: blue;
  position: absolute;
  z-index: 900;
  top: 0px;
  /* left set by code... */
}

*.dalliance .powered-by {
  font-size: 10pt;
}

*.dalliance .help-panel {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}

*.dalliance .toolbar {
  flex: none;
  -webkit-flex: none;
}

*.dalliance .toolbar > * {
  vertical-align: top;
}

*.dalliance .title {

}

*.dalliance .zoom-slider {
  width: 150px;
}

*.dalliance .loc-group {
  margin-left: 10px;
  margin-right: 10px;
}


/* Tier stuff */

*.dalliance .viewport {
  /* Width and height set in code */
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: -1000px;
}

*.dalliance .viewport-overlay {
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: -1000px;
  z-index: 1000;
  pointer-events: none;
}

*.dalliance .quant-overlay {
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 0px;
  top: 0px;
  display: none;
}

*.dalliance .tier-edit input {
  margin-bottom: 0px;
}

*.dalliance .tier-edit th {
  width: 150px;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}

*.dalliance .notifier {
  background-color: black;
  color: white;
  opacity: 0.;
  padding: 2px 8px;
  border-radius: 4px;
  display: inline-block;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
}

*.dalliance .notifier-holder {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 5000;
  pointer-events: none;
}