.tier-viewport-background {
  background-color: white;
  background-image: -webkit-linear-gradient(black 2px, transparent 2px),
    -webkit-linear-gradient(0, black 2px, transparent 2px),
    -webkit-linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
    -webkit-linear-gradient(0, rgba(0,0,0,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-15px -15px, -15px -15px, -14px -14px, -14px -14px
}